body {
  padding: 0;
  margin: 0;
  background: #f3f3f3;
}

.header {
  height: 56px;
}

.accordion .card-header {
  padding: 0;
}

.accordion .card-body {
  padding: .5rem 1.25rem;
}

.undone caption, .finish caption {
  padding: .25rem .5rem;
  color: #6c757d;
  text-align: left;
  caption-side: top;
}

.table {
  table-layout: fixed;
  margin-bottom: -1px;
}

.table-box {
  max-height: 130px;
  overflow: auto;
}

.button-pane button{
  color: #17a2b8;
}

.button-pane button:hover {
  color: #128395;
}

.button-pane button[disabled] {
  color: #6c757d;
}

